<div  style="background-image: url('../../../assets/logo/home_banner-min.jpg'); background-size: cover; background-position: center; height: 100vh;">
<mat-grid-list cols="2" rowHeight="800px">
  <mat-grid-tile style="padding-top:40px !important">

    <div style="width: 100%; display: flex; align-items: flex-start;">
      <img src="../../../assets/logo/images.png" style="width: 80px; align-self: flex-start;">
    </div>

    <!-- <div style="display: block !important;">
      <p>welcome</p>
    </div> -->
  </mat-grid-tile>



  <mat-grid-tile>
    <mat-card class="card-width" style="height: 98vh;">
      <mat-card-content>
        <p class="text-size">Welcome to ADA BSP</p>
        <p class="small-text-size ">Make sure you are using the verified email to logged in</p>

        <!-- form filed -->
        <form class="example-form">
          <mat-form-field class="example-full-width card-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com">
          </mat-form-field>

          <mat-form-field class="example-full-width card-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="password">
          </mat-form-field>

          <!-- forget password -->
          <mat-grid-list cols="2" rowHeight="40px" class="forgetten-password">
            <mat-grid-tile>
              <span style="width: 100%; display: flex; align-items: flex-start;">
                <section class="example-section">
                  <mat-checkbox class="example-margin">Remember me!</mat-checkbox>
                </section>
              </span>
            </mat-grid-tile>

            <mat-grid-tile>
              <span style="width: 100%; display: flex; justify-content: end;font-size: 12px;
              color: darkblue;
              padding-top: 13px;">Forgot Password</span>
            </mat-grid-tile>
          </mat-grid-list>
          <!-- forget password -->

        </form>
        <!-- form filed -->
        <!-- button -->
        <div class="btn-section">
          <button mat-raised-button color="primary" class="btn-size">Login</button>
        </div>
        <!-- button -->

        <!-- create new account -->
        <div class="create-new-acnt">
          <p style="font-size: 11px;color: gray;">Don't have an account?</p>
          <p style="font-size: 11px;font-weight: bold;color: darkblue;padding-left: 5px;">Create new account</p>
        </div>
        <!-- create new account -->

        <!-- different login -->
        <div class="footer-text">
          <p>Or you can login with</p>
        </div>
        <!-- different login -->

        <!-- google btn -->
        <div class="btn-height">
          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile style="padding-top:40px !important">
              <div class="google-btm">
                <button mat-raised-button color="basic">Google</button>
              </div>
            </mat-grid-tile>
              <mat-grid-tile style="padding-top:40px !important">
                <div class="google-btm">
                  <button mat-raised-button color="basic">Microsoft</button>
                </div>
              </mat-grid-tile>
              </mat-grid-list>
        </div>

        <!-- google btn -->

        <!-- footer content -->
        <div class="footer-text">
          <p>By continuing, you agree to ADA business Messaging</p>
          <a href="https://www.example.com">Google terms and condition</a><span style="padding-left:4px;padding-right:4px">||</span>
          <a href="https://www.example.com">Billingual version</a><br>
          <span style="position: relative;top:5px">Our<a href="https://www.example.com" style="position: relative;left:5px">Our channel provider policy</a></span>
        </div>

        <!-- footer content -->

      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
</div>